## List

In [1]:
int_list = [1,2,3]
print (int_list)

[1, 2, 3]

In [8]:
print (int_list[-1::-1])

[3, 2, 1]

In [9]:
coord = (110, 0.98 )
tuple_from_list = tuple()

In [11]:
dup_list = [1, 2, 3, 3, 5, 6, 7, 8, 6, 6]
print("length of list:", len(dup_list), dup_list)
unique_list = set(dup_list)
print("num of unique values:", unique_list)

length of list: 10 [1, 2, 3, 3, 5, 6, 7, 8, 6, 6]
num of unique values: {1, 2, 3, 5, 6, 7, 8}

In [12]:
dict_height = {"jack" : 167, "ryan" : 190, "paul" : 182}
print (dict_height, type (dict_height))

{'jack': 167, 'ryan': 190, 'paul': 182} <class 'dict'>

In [14]:
print ("jack's height :", dict_height["jack"] )

jack's height : 167

In [17]:
dict_transactions = {
    "id": [1,2,3], 
    'name': ['jack','ryan'],
    'amount':[100,88,94], 
    'coord': [(20,199), (19,211)]
}
print (dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 94], 'coord': [(20, 199), (19, 211)]}

In [18]:
print(dict_transactions["name"][::-1])
print(dict_transactions["amount"][1:])
dict_transactions["amount"]=[110,95]
print(dict_transactions)

['ryan', 'jack']
[88, 94]
{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [110, 95], 'coord': [(20, 199), (19, 211)]}

In [21]:
dict_transactions.keys()

dict_keys(['id', 'name', 'amount', 'coord'])

In [22]:
dict_transactions.get("amount")

[110, 95]

In [24]:
age = [10,11,12]
print (age)
umur = [11,12,13]
print (umur)

age += umur
print(age)

[10, 11, 12]
[11, 12, 13]
[10, 11, 12, 11, 12, 13]

# Control Flow

In [25]:
book_price = 500000
magazine_price = 10000
money = 20000

if money > book_price:
    print('buy a book!')
elif money > magazine_price:
    print('buy a magazine')
else:
    print("gather a money please")

buy a magazine

In [26]:
book_price = 500000
magazine_price = 10000
money = 20000

is_buy_book = money > book_price
is_buy_magazine = money > magazine_price

if is_buy_book:
    print('buy a book!')
elif is_buy_magazine:
    print('buy a magazine')
else:
    print("gather a money please")

buy a magazine

In [28]:
is_raining = False

if is_raining:
    print('stay at home')
else:
    print('do something!')

do something!

In [30]:
what_to_do = "stay at home" if is_raining else "do something !"
print (what_to_do)

list_name = ["eza", "winda", "idfi","septy","tiurma","yoanita"]
student = "josh"
if student in list_name:
    print ("student is valid !")
else:
    print("student is not valid! Who are you ?")

do something !
student is not valid! Who are you ?

# while loop

In [18]:
list_names = ["eza", "windi", "idfi tAnIya","septy","tiurma",
             "yoanita", "idfi taniya","idfi taniyakusuma"]
list_taniya = []

idx = 0
while idx < len(list_names):
    student = list_names[idx]
    print("processing:",student)
    if "taniya" in student:
      #  print(student)
    list_taniya.append(student)
    idx += 1

    print("taniya in students:", list_taniya)

IndentationError: expected an indented block (<ipython-input-18-0e164e014cc9>, line 11)

# For Loop

In [17]:
for student in list_names:
    if "taniya" in student.lower():
        list_taniya.append(student)
        continue
    print(f"taniya not found in {student}")
print(list_taniya)

taniya not found in eza
taniya not found in windi
taniya not found in septy
taniya not found in tiurma
taniya not found in yoanita
['eza', 'windi', 'idfi taniya', 'septy', 'tiurma', 'yoanita', 'idfi taniya', 'idfi taniyakusuma', 'idfi taniya', 'idfi taniya', 'idfi taniyakusuma']

In [19]:
dict_transactions = {
    "id": [1,2,3], 
    'name': ['jack','ryan'],
    'amount':[100,88,94], 
    'coord': [(20,199), (19,211)]
}
print (dict_transactions)

{'id': [1, 2, 3], 'name': ['jack', 'ryan'], 'amount': [100, 88, 94], 'coord': [(20, 199), (19, 211)]}

In [21]:
coord = 110, 19
print(coord), type(coord)
x, y = list(coord)
print(f"x = {x}, y = {y}")

(110, 19)
x = 110, y = 19

In [23]:
for i, j in dict_transactions.items():
    print(f"{i}:{j}")

id:[1, 2, 3]
name:['jack', 'ryan']
amount:[100, 88, 94]
coord:[(20, 199), (19, 211)]

In [27]:
for idx, _ in enumerate(list_names):
    print(idx, ".. sama aja dengan:", list_names[idx])

0 .. sama aja dengan: eza
1 .. sama aja dengan: windi
2 .. sama aja dengan: idfi taniya
3 .. sama aja dengan: septy
4 .. sama aja dengan: tiurma
5 .. sama aja dengan: yoanita
6 .. sama aja dengan: idfi taniya
7 .. sama aja dengan: idfi taniyakusuma

In [30]:
range(10), range(1,10)

(range(0, 10), range(1, 10))

In [28]:
dates = "2020-08-01"
dates.split